* {
    box-sizing:  border-box;
    margin: 0;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #f9f9f9;
}

body {
	width: 100vw;	
	background: linear-gradient(to bottom, #242331, #533E2D, #A27035, #B88B4A, #DDCA7D);
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100vw;
	z-index: -1;
	background: linear-gradient(to left bottom, rgba(255,255,255,0.2), #4e618e 90%);
}


a {
    transition: .25s;
    text-underline-offset: 2px;
    color: inherit;
}

a:hover {
    text-shadow: 2px 2px 2px #000000;
}

a:visited {
    color: white;
}

#desktop_header {
    color: white;
    z-index: 2;
}

#desktop_header p {
	width: max-content;
	margin: 0;
}

h1 {
/*     font-family: 'Tangerine', cursive; */
    font-size: 6rem;
    text-shadow: 2px 2px 2px black;
    overflow: visible;
}

#mobile_header {
    display: none;
}

#desktop_nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

#desktop_nav a {
    text-transform: lowercase;
    margin-top: 5px;
    text-align: right;
    font-size: 1.5rem;
    text-decoration: none;
}

.superlatives {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: max-content;
    text-shadow: 2px 2px 2px black;
}

.superlatives p {
    font-size: 1.5rem;
}

.bio p {
    padding: 0px 5px 10px 5px;
    font-size: 2rem;
}

.bio a {
	font-size: inherit;
	text-decoration: initial;
}

.photo-container img {
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57);
}

h2 {
	width: max-content;
	font-size: 3rem;
/* 	border: 1px solid black; */
	margin: 100px auto;
}

abbr {
    font-size: inherit;
    cursor: pointer;
}

.photo-container {
    width: 100%;
    position: relative;
    margin-top: 30px;
}
    
.photo-container .row {
    justify-content: space-between;
}

.right-side-curved {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.full-photo-background {
    background: url("images/use3.JPG");
    background-size: cover;
    height: 500px;
    margin-top: 30px;
    border: 1px solid white;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57);
}

.full-photo-background .quote {
    position: absolute;
    top: 50px;
    right: 50px;
    width: fit-content;
}

.left-side-curved {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    right: 0;
}

/* GALLERY */

.quote-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

.quote-container img {
    max-width: 600px;
    border: 1px solid white;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57);
    margin: 0 auto;
}

.gallery-row {
    align-items: center;
}

.photo_credit {
    color: white;
    font-style: italic;
}

.quote {
    width:350px;
    line-height: 25px;
    overflow: visible;
    color: white;
    font-size: 3rem;
    margin: 0 auto;
}

.hh_award {
    width: 100%;
    max-width: 450px;
    margin-left: 5px;
}

.overlap-row {
    transform: translateY(-25%);
}

.downloads {
	width: 100%;
	max-width: 800px;
	margin: 0 auto 50px auto;
}

.downloads .row {
	text-align: center;
}

.downloads a {
	text-decoration: none;
	font-size: 1.5rem;
	transition: .25s;
}

.downloads a:hover {
	color: unset;
	text-shadow: unset;
}

/* FLEXBOX SETUP */

.row {
    display: flex;
}

.col-4,
.col-6,
.col-12 {
    flex-grow: 1;
    flex-shrink: 1;
}

.col-4 {
    flex-basis: 33.3333333%;
}

.col-6 {
    flex-basis: 50%;
    overflow: visible;
}

.col-12 {
    flex-basis: 100%;
}

/* CONTACT FORM */


form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

form ul {
	display: flex;
	flex-direction: column;
	padding: 0;
}

form li {
	margin: 10px 0;
    list-style: none;
}

form h3 {
	margin: 0 auto;
	width: fit-content;
    font-size: 4rem;
    padding-bottom: 2rem;
}

input[name],
input[email],
textarea {
    width: 100%;
    border: 1px solid black;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid white;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57);
}

textarea {
	height: 100px;
}

form button,
.downloads button {
	font-size: 1.5rem;
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    transition: .25s;
    border-radius: 10px;
    border: 1px solid white;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.57);
}

form button:hover,
.downloads button:hover {
    background-color: white;
    color: black;
}

form button:active,
.downloads button:active {
	background-color: rgba(255,255,255,.5);
}


/* FOOTER */

footer {
    border-top: 1px solid #4e618e;
    padding: 5px 0;
    margin-top: 50px;
    text-align: center;
}


footer p {
    color: white;
    text-transform: uppercase;
}

footer a {
    font-size: inherit;
    text-underline-offset: 2px;
    color: inherit;
    transition: .25s;
}

footer a:hover {
    text-shadow: 2px 2px 2px #000000;
}